$primary-color:#55c57a;
$primary-color-light:#7ed56f;
$primary-color-dark:#28b485;

$secondary-color-light:#08C8F6;
$secondary-color-dark:#4D5DFB;

$third-color-light:#F9D976;
$third-color-dark:#F39F86;


$color-gray:#777;
$color-gray-dark:rgb(39, 39, 39);
$color-white:#fff;
$color-black:#000;
$grid-width:114rem;
$gutter-vertical:8rem;
$guttter-horizntal:6rem;
$color-light-gray-1:#f7f7f7;
$color-light-gray-2:rgb(236, 236, 236);
$default-font-size:1.6rem